In [20]:
from jqdatasdk import *
auth('13585707695', 'woshidi1')

In [21]:
q=query(finance.FUND_MAIN_INFO).filter(finance.FUND_MAIN_INFO.underlying_asset_type_id==402001)
df=finance.run_query(q)

In [22]:
df.shape

(1565, 11)

In [23]:
df.head(5)

,id,main_code,name,advisor,trustee,operate_mode_id,operate_mode,underlying_asset_type_id,underlying_asset_type,start_date,end_date
0,23,000041,华夏全球,华夏基金管理有限公司,中国建设银行股份有限公司,401003,QDII,402001,股票型,2007-10-09,None
1,24,000042,中证财通可持续发展100指数,财通基金管理有限公司,上海银行股份有限公司,401001,开放式基金,402001,股票型,2013-03-22,None
2,25,000043,嘉实美国成长股票,嘉实基金管理有限公司,中国银行股份有限公司,401003,QDII,402001,股票型,2013-06-14,None
3,28,000049,中银标普全球,中银基金管理有限公司,招商银行股份有限公司,401003,QDII,402001,股票型,2013-03-19,None
4,33,270042,广发纳斯达克100指数（QDII）,广发基金管理有限公司,中国银行股份有限公司,401003,QDII,402001,股票型,2012-08-15,None

In [24]:
for main_code in df['main_code']:
    q_net_value=query(finance.FUND_NET_VALUE).filter(finance.FUND_NET_VALUE.code==str(main_code)).order_by(finance.FUND_NET_VALUE.day.desc())
    df_net_value=finance.run_query(q_net_value)
    df_net_value.to_csv('data/fund_net_value_' + main_code + '.csv')

In [25]:
df.to_csv('data/stock_fund_info.csv')